h1 {
    margin-top: 0;
  }

  .main-container {
    font-family: system-ui;
    color: var(--figma-color-text) !important;
    padding: 2rem;
    font-size: var(--font-size-normal);
  }

  .main-container #create-pages-btn {
    font-size: var(--font-size-normal);
    background-color: var(--figma-color-bg-component);
    color: var(--figma-color-text-onbrand);
    padding: 1rem 2rem;
    /* margin: 1rem 0; */
    margin: 0;
    border-radius: 0.5rem;
    border: 0;
  }

  .main-container #create-pages-btn:hover {
    background-color: var(--figma-color-bg-component-hover);
  }

  /* .main-container #create-pages-btn::pressed{
  background-color: var(--figma-color-bg-component-pressed);
} */

  .main-container input,
  .main-container select {
    border: 2px solid var(--figma-color-text);
    border-radius: 4px;
    padding: 0 1rem;
    background-color: var(--figma-color-bg);
    color: var(--figma-color-text-onbrand);
    transition: all 0.4s ease-in-out;
    font-size: var(--font-size-normal);
  }

  .main-container select {
    /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
    background-color: var(--figma-color-bg);
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

  }

  /* ------------- template --------------------------------------- */
  #template {
    /* display:table-row !important; */
    margin-right: 0;
  }

  /* #template option{
    display:table-cell !important;
} */
  /* ------------- fine template --------------------------------------- */


  .main-container select:focus {
    border: 2px solid var(--figma-color-border-brand-strong);
  }

  .main-container select:focus-visible {
    outline: 0;
  }

  .main-container select::-ms-expand {
    /* display: none; */
  }


  .quest {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    margin-bottom: .5rem;
  }

  .quest+.quest {
    margin: 2rem 0;
  }


  #page-names {
    margin: 3rem 0;
  }

  #page-names div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    height: 2.5rem;
    margin-bottom: 1rem;
  }

  #page-names div input {
    width: 100%;
    color: var(--figma-color-text);

  }

  #page-names div select,
  select#template {
    color: var(--figma-color-text);
    width: 40%;
    background-image: linear-gradient(45deg, transparent 50%, var(--figma-color-text) 50%), linear-gradient(135deg, var(--figma-color-text) 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) 1.05rem, calc(100% - 15px) 1.05rem, calc(100% - 2.3em) 0.3rem;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    font-size: var(--font-size-normal);
  }

  #page-names div select {
    margin-right: 1rem;
  }

  #page-names div select+select {
    width: 30%;
  }

  #page-names div input,
  #page-names div select,
  #num-pages,
  #template {
    height: 100%;
  }

  #page-names div input,
  #page-names div select {
    height: 100%;
  }

  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .btn-pages {
    display: flex;
    height: 100%;
  }

  .btn-pages input {
    text-align: center;
    border: 2px solid var(--figma-color-text);
    margin: 0 .2rem;
    color: var(--figma-color-text);

  }

  .btn-pages #plus,
  .btn-pages #min {
    width: 2.5rem;
    font-size: 1.5rem;
    color: var(--figma-color-bg-component);
    /* border: 2px solid var(--figma-color-bg-component); */
    border: 0;
    background-color: var(--figma-color-bg);
    border-radius: .5rem;
    transition: all 0.4s ease-in-out;
  }

  .btn-pages #plus:hover,
  .btn-pages #min:hover {
    color: var(--figma-color-bg-component-hover);
    /* border: 2px solid var(--figma-color-bg-component-hover); */
  }

  .emoji {
    font-size: var(--font-size-normal);
    display: flex;
    align-content: baseline;
    align-items: baseline;
    width: 100%;
    margin-top: 3rem;
  }

  .emoji p {
    min-width: 18%;
  }

  .emoji ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 0;
    margin: 0;
    width: 100%;
  }

  input:focus {
    color: var(--figma-color-text);
    outline: none !important;
    border-color: var(--figma-color-border-brand-strong);
  }

  button:disabled {
    color: var(--figma-color-bg-component-tertiary) !important;
  }

  input:disabled {
    opacity: .7;
  }
</style> -->